</div>
<header class="jumbotron text-center">
  <h1><span class="text-primary">Muzzle Toff Doggy Daycare</span></h1>
  <p class="lead">A place for your furry pals to hang out and shmooz with their friends</p>
  <p>
    <a class="btn btn-primary btn-lg" href="#about" role="button">Learn more</a>
  </p>
</header>

<div class="container-fluid">

  <section id="about" class="row">
    <div class="col-sm-10 col-sm-offset-1">
      <h1 class="text-center">About Muzzle Toff</h1>

      <p>Our fake business is located in the heart of the Mid-City neighborhood New Orleans.  Come check us out!</p>

      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
      cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
      proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
  </section>
</div>

<div class="container-fluid" id="team">
  <section>

    <div class="row text-center">
      <div class="col-sm-12"></div>
      <h1>Team</h1>
    </div>


    <div class="row">
      <div class="col-sm-5 col-sm-offset-1">
        <h3 class="text-center">Developer</h3>
        <p>This application was built by <strong>Sia Karamalegos</strong> as a learning Rails application for the Tech Talent South fall 2015 cohort.</p>

        <p>Follow <strong>Sia</strong> on GitHub and Twitter:</p>
        <p class="text-center">
          <a href="https://github.com/siakaramalegos" target="_blank"><%= fa_icon "github", class: "fa-3x" %></a>   <a href="https://twitter.com/thegreengreek" target="_blank"><%= fa_icon "twitter", class: "fa-3x" %></a>
        </p>
      </div>
      <div class="col-sm-5">
        <h3 class="text-center">Tech Talent South</h3>
        <p>Tech Talent South is a southern-based tech education company that runs bootcamps to help people get started on the path to learning web development.</p>
        <p>Want to learn more about Tech Talent South?  Click <a href="http://techtalentsouth.com/" target="_blank">here</a>!</p>
      </div>
    </div>
  </section>
</div>

  <section id="features">

  </section>

  <footer>

  </footer>

</div>
