/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "font-awesome";

body {
  padding-top: 60px;
}

.jumbotron {
  background-image: image-url('doggy-nose.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100%;

  h1 {
    text-shadow: 1px 1px #333;
  }

  p.lead {
    text-shadow: 1px 1px #333;
    color: white;
    margin: 30px 10px;
  }
}

#team {
  background-color: #DDDAD5;
  // margin: 0;
  // width: 100%;
  // padding: 40px;
}

section {
  margin-bottom: 40px;
}

input.checkbox {
  margin-left: 0;
}

.btn-group {
  .btn {
    border-color: white;
  }
}

a:hover {
  text-decoration: none;
}